stages:
- deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive

deploy:
  stage: deploy
  image: shopozor/docker-compose:$TOOLS_SHA
  before_script:
  - docker-compose build publishodon
  script:
  - docker-compose up --exit-code-from publishodon publishodon 
  after_script:
  - docker-compose down --rmi all -v --remove-orphans